/* LeftBanner.module.css */
.containerWrapper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 30px 10px;
}
/* styles.module.css */
.container {
  color: black;
}
.btnWrapper {
  display: flex;
  justify-content: end;
}
.button {
  background-color: #007bff;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.button:hover {
  background-color: #0056b3;
}

.container {
  width: 100%;
  padding: 20px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 10px;
  border-radius: 20px;
}
.banner {
  background-color: white;
  max-width: 300px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 15px;
  padding: 20px;
  color: black;
}
.banner img {
  width: 100px;
  height: 100px;
  margin-right: 20px;
}

.bannerdescription {
  flex: 1;
}

.banner-description p {
  margin-bottom: 10px;
}

.link {
  color: blue;
}
