.resultsWrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  border-radius: 0px 0px 24px 24px;
  gap: 20px;
  background-color: white;
  border-left: 1px solid #9275f3;
  border-right: 1px solid #9275f3;
  border-bottom: 1px solid #9275f3;
}
.resultContainer {
  width: 100%;
  min-height: 41px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 25px;
  gap: 30px;
}
.noResult {
  width: 100%;
  font-family: DM Sans;
  font-size: 14px;
  font-weight: 500;
  line-height: 18.23px;
  letter-spacing: -0.04em;
  text-align: left;
  color: var(--Primary-color, #6d45f1);
}
.resultsRow1,
.resultsRow2 {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 20px;
  font-size: 14px;
  font-weight: 500;
  line-height: 18.23px;
  letter-spacing: -0.04em;
  text-align: left;
}

.resultsRow1 p,
.resultsRow2 p {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 12px;
  cursor: pointer;
}

.resultsRow1 h5,
.resultsRow2 h5 {
  font-size: 14px;
  display: flex;
  align-items: center;
  gap: 10px;
  align-self: stretch;
}
