/* OuOffer.module.css */

.maincontainer {
  width: 100%;
  padding: 100px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("../../../assets/images/bg-1.png");
  border-radius: 8px;
  /* backdrop-filter: blur(4px); */
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}
.container {
  max-width: 1280px;
  width: 100%;
  min-height: 740px;
  margin: 0 auto;
  padding: 40px 0px;
  border-radius: 40px;
  background: var(--Background-color-white, #fff);
  background-attachment: fixed;
}
.header {
  max-width: 1200px;
  width: 100%;
  min-height: 101px;
  text-align: center;
}
.header h1 {
  color: var(--text-dark-gray, #101010);
  font-family: "DM Sans";
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -1.2px;
}
.header p {
  color: var(--text-light-gray, #404040);
  font-family: "DM Sans";
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.36px;
}

.contents {
  max-width: 1280px;
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.content {
  max-width: 360px;
  width: 100%;
  min-height: 499px;
}

.card {
  width: 100%;
  height: 100%;
  display: flex;
  padding: 16px;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  flex-shrink: 0;
}
.imageWrapper {
  max-width: 328px;
  width: 100%;
  min-height: 181px;
  position: relative;
}
.imageWrapper img {
  width: 100%;
  height: 100%;
}
.roundImage img {
  border-radius: 50%;
  width: 36px;
  height: 36px;
  position: absolute;
  left: 40%;
  bottom: -10%;
}
.cardMiddle {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.cardtitle {
  height: 62px;
  color: var(--text-dark-gray, #101010);
  font-family: "DM Sans";
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.96px;
}
.cardDescription {
  width: 283px;
  height: 84px;
  flex-shrink: 0;
  color: var(--text-dark-gray, #101010);
  font-family: "DM Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.64px;
}

.cardBottom {
  /* Add styles for the bottom section of the card */
  margin-top: 10px;
}

.cardBottom {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.cardBottom a {
  text-decoration: none;
  color: var(--Primary-color, #6d45f1);
  font-family: "DM Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -0.64px;
}

.cardBottom svg {
  /* Add styles for the SVG inside the cardBottom */
  fill: #007bff;
  width: 20px;
  height: 20px;
}
.slidercontents {
  width: 90%;
  margin: 0 auto; /* Center the container horizontally */
  overflow: hidden; /* Hide overflow to prevent unwanted scrollbars */
}
.btnWrapper {
  display: flex;
  justify-content: end;
  gap: 20px;
}
.leftbtn,
.rightbtn {
  background: none;
  border: none;
  width: 24px;
  height: 24px;
}
@media only screen and (max-width: 700px) {
  .header h1 {
    font-size: 20px;
  }
  .header p {
    font-size: 14px;
  }
  .container {
    background: none;
  }
  .content {
    background: var(--Background-color-white, #fff);
    margin-bottom: 10px;
    border-radius: 12px;
  }
}
