.newsletterBox {
  max-width: 440px;
  width: 100%;
  min-height: 170px;
  background: linear-gradient(#6d45f1, #6d45f1) padding-box,
    linear-gradient(to left, #56f4f4 1.97%, #ffffff 99.26%);
  border-radius: 12px;
  border: 2px solid transparent;
}
.wrapper {
  max-width: 436px;
  width: 100%;
  min-height: 166px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #532ad7;
  border-radius: 12px;
}
.top {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.newsletterBox h2 {
  color: white;
  font-family: DM Sans;
  font-size: 20spx;
  font-weight: 600;
  line-height: 20.83px;
  letter-spacing: -0.02em;
  text-align: left;
}

.newsletterBox p {
  font-family: DM Sans;
  font-size: 16px;
  font-weight: 400;
  line-height: 20.83px;
  letter-spacing: -0.02em;
  text-align: left;
}

.newsletterBox form {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 20px;
}

.newsletterBox input {
  width: 100%;
  padding: 10px;
  font-size: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-right: 10px;
  /* background: none; */
}

.newsletterBox button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #6d45f1;
  color: white;
  border: 1px solid var(--Primary-color, #6d45f1);
  border-radius: 4px;
  cursor: pointer;
}

.newsletterBox button:hover {
  background-color: #4e2aab;
}
