/* Footer.module.css */
.footer {
  width: 100%;
  height: 100%;
  background: linear-gradient(
    180deg,
    rgba(117, 75, 255, 0.8) 2.7%,
    #6d45f1 50.08%,
    #6d45f1 50.08%
  );
}

.mainContainer {
  width: 100%;
  min-height: 607px;
  background: linear-gradient(
    180deg,
    rgba(117, 75, 255, 0.8) 2.7%,
    #6d45f1 50.08%,
    #6d45f1 50.08%
  );
}

.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 60px;
}
.top {
  display: flex;
  justify-content: space-between;
  gap: 20 px;
  margin-top: 120px;
  padding: 0px 30px;
}
.footerLeft {
  max-width: 300px;
  width: 100%;
  display: flex;
  justify-content: center;
}
.footerLeftWrapper {
  max-width: 230px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.footerLeftWrapper figure img {
  border-radius: 10px;
}
.footerLeft h3 {
  color: var(--Background-color-white, #fff);
  font-family: "DM Sans";
  font-size: 32px;
  font-style: normal;
  line-height: 41.66px;
  letter-spacing: 0.04em;
  text-align: left;
}
.contatUs {
  display: flex;
  flex-direction: column;
  gap: 11px;
}
.contatUs h4 {
  color: white;
  font-family: DM Sans;
  font-size: 16px;
  font-weight: 700;
  line-height: 20.83px;
  letter-spacing: -0.02em;
  text-align: left;
}
.contatUs p {
  color: var(--Background-color-white, #fff);
  font-family: "DM Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.32px;
}

.footerRight {
  flex-grow: 1;
}

.contents {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  flex-wrap: nowrap;
  gap: 10px;
}
.cols {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.cols h4 {
  font-family: DM Sans;
  font-size: 16px;
  font-weight: 700;
  line-height: 20.83px;
  letter-spacing: -0.02em;
  text-align: left;
  cursor: pointer;
  color: white;
}
.blog {
  text-align: center;
}
.cols p {
  color: var(--Background-color-white, #fff);
  font-family: "DM Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.32px;
  cursor: pointer;
}
.socialMedia {
  display: flex;
  gap: 12px;
  cursor: pointer;
}
.coppy {
  display: flex;
  justify-content: center;
}
.coppy p {
  max-width: 400px;
  width: 100%;
  border-top: 1px solid white;
  padding-top: 20px;
  text-align: center;
  color: var(--Background-color-white, #fff);
  font-family: "DM Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.32px;
}
@media only screen and (max-width: 1224px) {
  .mainContainer {
    padding: 20px 0px;
  }
  .top {
    flex-direction: column;
    gap: 20px;
    margin: 0px;
  }
  .contents {
    flex-wrap: wrap;
    padding: 10px;
  }
  .cols {
    text-align: center;
  }
}
@media only screen and (max-width: 800px) {
  .mainContainer {
    padding: 20px 0px;
  }
  .top {
    flex-direction: column;
    gap: 20px;
    margin: 0px;
  }
  .footerLeft h3 {
    font-size: 24px;
  }
  .footerLeft p {
    font-size: 14px;
  }
  .contents {
    flex-wrap: wrap;
    padding: 10px;
  }
  .cols {
    gap: 8px;
    text-align: center;
  }

  .cols h4 {
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
  }
  .cols p {
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
  }
}
