.containerWrapper {
  flex-grow: 1;
  width: 100%;
  height: 100%;
  background-color: white;
  color: #101010;
}

.mainContainer {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  padding: 10px;
  display: flex;
  justify-content: center;
  display: flex;
  justify-content: center;
  background-color: white;
  border-radius: 24px;
  border: 1px solid rgb(241, 220, 220);
  box-shadow: 2px 2px 10px 2px rgba(109, 69, 241, 0.3);
}
.container {
  max-width: 1280px;
  width: 100%;
  display: flex;
  min-height: 655px;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
  border-radius: 24px;
  text-align: center;
  background-color: white;
}
.heading {
  width: 100%;
  color: #101010;
  font-family: DM Sans;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -1.2px;
}
.description {
  width: 100%;
  color: #101010;
  font-family: DM Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.36px;
}

.content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.contentHeading {
  display: flex;
  gap: 83px;
  margin-bottom: 30px;
}
.headingItems {
  display: flex;
  gap: 10px;
  color: #101010;
  align-items: center;
  color: #101010;
  font-family: "DM Sans";
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.48px;
}
.headingItems span {
  display: flex;
  gap: 10px;
  color: #101010;
  align-items: center;
  color: #101010;
  font-family: "DM Sans";
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.48px;
}
.twoSelects {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.select {
  background-color: white;
  width: 140px;
  min-height: 48px;
  display: flex;
  padding: 13px 5px;
  text-align: start;
  justify-content: flex-start;
  align-items: center;
  border-radius: 4px;
  font-size: 15px;
  color: #101010;
  font-weight: 400;
  border: none;
  outline: none;
}
.select2 {
  width: 40px;
  min-height: 48px;
  display: flex;
  text-align: start;
  justify-content: flex-start;
  align-items: center;
  border-radius: 4px;
  border: none;
  background-color: white;
  color: #101010;
  font-family: "DM Sans";
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.64px;
  outline: none;
}
.collectionSelect {
  -webkit-appearance: none;
  -moz-appearance: none;
  background: transparent;
  background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"><path d="M6 9L12 15L18 9" stroke="%236D45F1" stroke-width="1.66667" stroke-linecap="round" stroke-linejoin="round"/></svg>');
  background-repeat: no-repeat;
  background-position-x: 100%;
  background-position-y: 50%;
  width: 110px;
  min-height: 48px;
  display: flex;
  padding: 13px 16px;
  text-align: start;
  justify-content: flex-start;
  align-items: center;
  border-radius: 4px;
  color: #101010;
  font-weight: 400;
  border: none;
  overflow: hidden;
  display: none;
}
.collectionSelect option {
  margin-right: 10px;
}
.contentBottom {
  width: 100%;
  display: flex;
  gap: 30px;
}
.contentleft {
  max-width: 300px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 12px;
  cursor: pointer;
  background-color: white;
}
.contentleft h3 {
  width: 100%;
  padding: 5px;
  text-align: start;
  color: #6d45f1;
  font-family: DM Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -0.64px;
}
.contentleft p {
  color: #101010;
  font-family: DM Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.64px;
  text-align: start;
  display: flex;
  justify-content: flex-start;
}
.categoryItem {
  padding: 5px;
  border-radius: 10px;
}
.categoryItem:hover {
  background-color: rgb(205, 230, 238);
  padding: 5px;
  border-radius: 10px;
}
.contentRight {
  width: 100%;
  padding-left: 30px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  background-color: white;
  border-left: 1px solid #10101033;
}
.row1,
.row2 {
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 50px;
}
.row2 {
  border-bottom: 1px solid rgb(240, 223, 223);
  padding-bottom: 5px;
}
.row1 h4 {
  color: #101010;
  font-family: DM Sans;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.8px;
}
.row2 p {
  color: #101010;
  font-family: DM Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.72px;
}

.col1 {
  max-width: 50px;
  width: 100%;
  text-align: center;
}
.col2 {
  text-decoration: none;
  color: black;
  flex-grow: 1;
  display: flex;
  justify-content: flex-start;
  text-align: start;
  gap: 20px;
}
.new {
  background-color: red;
  color: #fff;
  border-radius: 10px;
  height: 15px;
  width: 25px;
  text-align: center;
  font-size: 10px;
}
.col3 {
  width: 20%;
  text-align: end;
  letter-spacing: 3px;
}
.increase {
  color: blue;
  font-size: 10px;
  margin-left: 10px;
}
.loadMore {
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 10px;
  color: #6d45f1;
}
.loadMore button {
  border: none;
  background: none;
  color: #6d45f1;
  font-family: DM Sans;
  font-size: 16px;
  font-weight: 500;
  line-height: 20.83px;
  letter-spacing: -0.04em;
  text-align: left;
}
@media only screen and (max-width: 700px) {
  .contentleft {
    display: none;
  }
  .collectionSelect {
    display: flex;
  }
  .select2 {
    width: 40px;
  }
  .container {
    gap: 8px;
    margin: 20px;
  }
  .heading {
    font-size: 20px;
    margin: 0px;
  }

  .description {
    font-size: 14px;
    margin: 0px;
  }
  .content {
    margin-top: 24px;
    width: 100%;
  }
  .contentHeading {
    flex-direction: column;
    gap: 0px;
  }
  .hedingItems {
    margin: 0;
    padding: 0px;
  }
  .select {
    padding: 0px;
    min-height: 30px;
  }
  .select2 {
    min-height: 30px;
    padding: 0px;
  }
  .contentRight {
    margin-top: 16px;
  }
  .col1 {
    max-width: 0px;
  }
  .col2 {
  }
  .row1 h4 {
    font-size: 16px;
  }
  .row2 p {
    font-size: 14px;
  }
}
