.main {
  width: 100%;
  margin: 0 auto;
  background-color: white;
  color: black;
}

.join {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  padding: 20px;
  gap: 30px;
}
.left {
  width: 80%;
  padding-left: 5%;
  height: 100%;
}
.right {
  padding-right: 5%;
  height: 100%;
}
@media only screen and (max-width: 1000px) {
  .left {
    width: 100%;
  }
}
