/* Navbar.module.css */

.mainContainer {
  background: var(--Background-color-white, #fff);
  width: 100%;
}

.navbar {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  height: 100px;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
  background: var(--Background-color-white, #fff);
  color: black;
}

.leftItems {
  max-width: 600px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}
/* styles.module.css */
.navItem {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  cursor: pointer;
}

.navItem span,
.navItem a {
  text-decoration: none;
  color: var(--Primary-color, #6d45f1);
  font-family: DM Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -0.64px;
}
.dropdown {
  display: flex;
  align-items: center;
  color: var(--Primary-color, #6d45f1);
  font-family: DM Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -0.64px;
}

.subDropdown {
  display: none;
  position: relative;
  position: absolute;
  top: 100%;
  left: 0%;
  background-color: #fff;
  border: 1px solid #ddd;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 2;
}

.dropdown:hover .subDropdown {
  display: flex;
  flex-direction: column;
}
.subDropdown p {
  display: flex;
  gap: 8px;
  align-items: center;
}

.dropdown p {
  cursor: pointer;
  margin: 0;
  padding: 8px 16px;
}

.subDropdown ol {
  width: 150px;
  position: absolute;
  left: 100%;
  top: 0;
  background-color: #fff;
  list-style: none;
  padding: 0;
  margin: 0;
  border-radius: 10px;
}

.subDropdown li {
  padding: 8px 16px;
  color: var(--Primary-color, #6d45f1);
  font-family: DM Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -0.64px;
}

.subDropdown li a {
  text-decoration: none;
}
.subDropdown li a:hover {
  font-weight: 700;
}

.middle {
  max-width: 426px;
  width: 100%;
  min-height: 100px;
  height: 100%;
  display: flex;
  align-items: center;
}
.searchInputWrapper {
  display: flex;
  max-width: 426px;
  width: 100%;
  padding: 12px;
  height: 40px;
  align-items: center;
  gap: 8px;
  border-radius: 24px;
  border: 1px solid #9275f3;
  background: none;
}
.searchInput {
  width: 100%;
  background: none;
  outline: none;
  border: none;
  color: black;
}
.action {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.action button {
  padding: 10px 16px 10px 16px;
  border-radius: 8px;
  border: 1px solid #6d45f1;
  background: #6d45f1;
  color: white;
}
.mobileContainer {
  display: none;
  position: relative;
}
.mobileHamBtn {
  width: 24px;
  height: 24px;
}
.mobileMenu {
  position: absolute;
  right: 20px;
  top: 80px;
  z-index: 99;
  display: inline-flex;
  padding: 12px;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  border-radius: 8px;
  background: var(--Background-color-white, #fff);
}
@media only screen and (max-width: 700px) {
  .leftItems {
    display: none;
  }
  .navbar {
    display: flex;
    align-items: center;
    padding: 0px;
    gap: 0;
  }
  .subDropdown ol {
    left: 0;
    top: 120%;
  }
  .middle {
    max-width: 600px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
  }
  .action {
    display: none;
  }
  .searchInputWrapper {
    max-width: 250px;
    width: 100%;
    border: 0;
    cursor: pointer;
    margin-left: 60px;
  }
  .searchInput {
    background: none;
    border: none;
  }
  .mobileContainer {
    max-width: 60px;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
  }
  .navItem {
    width: 100%;
    justify-content: space-between;
  }
}
